SECRET_KEY=your_secret_key

# PostgreSQL config for the database user
POSTGRES_DB=cinema_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
DB_HOST=db
DB_PORT=5432

# For prod
ALLOWED_HOSTS=kinosvit.com,www.kinosvit.com